{% extends 'base.html' %}
{% load static %}

{% block title %}
    Add Product
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'store/forms.css' %}">
{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'client-detail' pk=pk %}">
        {% csrf_token %}
         <label for="card_number">Customer ID:</label>
        {{ form.card_number }}

    <label for="cust_name">Customer Name:</label>
    {{ form.cust_name }}

    <label for="cust_surname">Customer Surname:</label>
    {{ form.cust_surname }}

    <label for="cust_patronymic">Customer Patronymic:</label>
    {{ form.cust_patronymic }}

    <label for="customer_phone_number">Phone Number:</label>
    {{ form.customer_phone_number }}

    <label for="customer_city">City:</label>
    {{ form.customer_city }}

    <label for="customer_street">Street:</label>
    {{ form.customer_street }}

    <label for="customer_zip_code">Zip Code:</label>
    {{ form.customer_zip_code }}

    <label for="customer_discount_percent">Discount Percent:</label>
    {{ form.customer_discount_percent }}

        <button type="submit" class="button edit-btn">Edit</button>
    </form>
    <form method="POST" action="{% url 'client-detail' pk=pk %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="delete">
        <button type="submit" class="button delete-btn">Delete</button>
    </form>
{% endblock %}