{% extends 'base.html' %}
{% load static %}

{% block title %}
    Add Product To Check
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'store/forms.css' %}">
{% endblock %}

{% block content %}
    <section id="check-product-detail">
        <div class="product-header">
            <div>
                <label>Product UPC:</label>
                {{ product.0 }}
            </div>
            <div>
                <label>Product Name:</label>
                {{ product.1 }}
            </div>
            <div>
                <label>Price:</label>
                {{ product.2 }}
            </div>
            <div>
                <label>Available Amount:</label>
                {{ product.3 }}
            </div>
        </div>
        <form method="POST" action="{% url 'check-product-detail' upc=product.0.0 %}">
            {% csrf_token %}
            <input type="hidden" name="product_upc" value="{{ product.0.0 }}"/>

            <label for="quantity">Quantity</label>
            {{ form.quantity }}
            {% if form.errors %}
                <p>{{ form.errors }}</p>
            {% endif %}
            <button type="submit" class="button">Add</button>
        </form>
    </section>

{% endblock %}