{% extends 'base.html' %}
{% load static %}

{% block title %}
    All Checks
{% endblock %}

{% block css_files %}
<style>
        @media print {
            section form, a {
                display: none !important;
            }
        }
        #all-checks > table {
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <section id="all-checks">
        <form method="GET" action="{% url 'check-list' %}">
            <label for="start_date">From:</label>
            {{ form.start_date }}
            <label for="end_date">To:</label>
            {{ form.end_date }}
            {% if user.groups.first.name == "manager" %}
            <label for="employee">Cashier:</label>
            {{ form.employee }}
            {% endif %}
            <button type="submit" class="button filter-btn">Filter</button>
        </form>
        {% if user.groups.first.name == "cashier" %}
            <a href="{% url 'check-add' %}">
                <div class="button">
                    Add Check
                </div>
            </a>
        {% endif %}
        <label>Total sum for current configuration: {{ checks_sum }}</label>
        <table>
            <thead>
            <tr>
                <th>Check ID</th>
                <th>Print Date</th>
                <th>Sum Total</th>
                <th>Card Number ID</th>
                <th>Cashier</th>
            </tr>
            </thead>
            <tbody>
            {% for check in checks %}
                <tr style="cursor:pointer;" onclick="window.location='{% url 'check-details' pk=check.0 %}'">
                    <td>{{ check.0 }}</td>
                    <td>{{ check.1 }}</td>
                    <td>{{ check.2 }}</td>
                    <td>{{ check.3 }}</td>
                    <td>{{ check.4 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </section>

{% endblock %}