{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'store/forms.css' %}">
{% endblock %}

{% block content %}

<section id="log-in">
    <div class="center-content">
        <form method="POST" action="{% url 'user-login' %}">
            {% csrf_token %}

            <label for="username">Username:</label>
            {{ form.username }}

            <label for="password">Password:</label>
            {{ form.password }}

            {% if msg %}
                <p>{{ msg }}</p>
            {% endif %}

            <button type="submit" class="button" id="log-in-btn">Log in</button>
        </form>

        <a href="{% url 'user-register' %}">
            <div id="new-account" class="button filter-btn">
                Create new account
            </div>
        </a>
    </div>
</section>


{% endblock %}