{% extends 'base.html' %}
{% load static %}

{% block title %}
    Add Employee
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'store/forms.css' %}">
{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'employee-add' %}">
        {% csrf_token %}
        <label for="id_employee">Employee ID:</label>
        {{ form.id_employee }}
        {% for error in form.id_employee.errors %}
            {{ error }}
        {% endfor %}
        <label for="employee_name">Employee Name:</label>
        {{ form.employee_name }}

        <label for="employee_surname">Employee Surname:</label>
        {{ form.employee_surname }}

        <label for="employee_patronymic">Employee Patronymic:</label>
        {{ form.employee_patronymic }}

        <label for="employee_role">Employee Role:</label>
        {{ form.employee_role }}

        <label for="employee_salary">Salary:</label>
        {{ form.employee_salary }}
        {% if form.errors.employee_salary %}
            {% for error in form.employee_salary.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
        {% endif %}
        <label for="employee_date_of_birth">Date of Birth:</label>
        {{ form.employee_date_of_birth }}

        <label for="employee_date_of_start">Date of Employment:</label>
        {{ form.employee_date_of_start }}
        {% for error in form.non_field_errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
        <label for="employee_phone_number">Phone Number:</label>
        {{ form.employee_phone_number }}
        {% if form.employee_phone_number.errors %}
            {% for error in form.employee_phone_number.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}

        <label for="employee_city">City:</label>
        {{ form.employee_city }}

        <label for="employee_street">Street:</label>
        {{ form.employee_street }}

        <label for="employee_zip_code">Zip Code:</label>
        {{ form.employee_zip_code }}

        <button type="submit" class="button">Add</button>
    </form>
{% endblock %}