{% extends 'base.html' %}
{% load static %}

{% block title %}
    All Employees
{% endblock %}
{% block css_files %}
    <style>
        @media print {
            section form, a {
                display: none !important;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <section id="all-employees">
        <form method="GET" action="{% url 'employee-list' %}">
            <label for="employee_name">Employee Name:</label>
            {{ form.employee_name }}

            <label for="employee_role">Role:</label>
            {{ form.employee_role }}

            <button type="submit" class="button filter-btn">Filter</button>
        </form>
        <a href="{% url 'employee-add' %}">
            <div class="button add-btn">
                Add Employee
            </div>
        </a>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Employee Name</th>
                <th>Role</th>
                <th>Phone Number</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                <tr style="cursor:pointer;" onclick="window.location='{% url 'employee-detail' pk=employee.0 %}'">
                    <td>{{ employee.0 }}</td>
                    <td>{{ employee.1 }}</td>
                    <td>{{ employee.2 }}</td>
                    <td>{{ employee.3 }}</td>
                    <td>{{ employee.4 }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No employees found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
