{% extends 'base.html' %}
{% load static %}

{% block title %}
    All Products
{% endblock %}

{% block css_files %}

{% endblock %}

{% block content %}
    <section id="all-products">
        <form method="GET" action="{% url 'product_list' %}">
            <label for="product_name">Product Name:</label>
            {{ form.product_name }}

            <label for="category_name">Category:</label>
            {{ form.category_name }}

            <button type="submit">Filter</button>
        </form>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Characteristics</th>
                <th>Category Name</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id_product }}</td>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.characteristics }}</td>
                    <td>{{ product.category_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
