{% extends 'base.html' %}
{% load static %}

{% block title %}
    All Products
{% endblock %}

{% block css_files %}

{% endblock %}

{% block content %}
    <section id="all-products">
        <form method="GET" action="{% url 'product_list' %}">
            <label for="product_name">Product Name:</label>
            {{ form.product_name }}

            <label for="category_name">Category:</label>
            {{ form.category_name }}

            <button type="submit" class="filter-button">Filter</button>
        </form>
        <a href="{% url 'product_add' %}">
            <div class="add-button">
                Add Product
            </div>
        </a>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Characteristics</th>
                <th>Category Name</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.0 }}</td>
                    <td>{{ product.1 }}</td>
                    <td>{{ product.2 }}</td>
                    <td>{{ product.3 }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No products found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
