{% extends 'base.html' %}
{% load static %}

{% block title %}
    Statistics
{% endblock %}

{% block css_files %}
    <style>
        @media print {
            section form, a {
                display: none !important;
            }
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
    <div id="charts-container">
        <label>Top 10 products with biggest revenue</label>
        <canvas id="chart1"></canvas>
    </div>


    <script>
        var ctx = document.getElementById('chart1').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels|safe }},
                datasets: [{
                    label: 'Values',
                    data: {{ values|safe }},
                    backgroundColor: 'rgba(54, 162, 235, 0.6)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}