{% extends 'base.html' %}
{% load static %}

{% block title %}
    Store_Product Details
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'store/forms.css' %}">
{% endblock %}

{% block content %}

    <form method="POST" action="{% url 'store-product-details' pk=pk %}">
        {% csrf_token %}
        <div>
            <label>Product UPC:</label>
            {{ upc_prod }}
        </div>
        <div>
            <label>Product Name:</label>
            {{ prod_name }}
        </div>
        <div>
            <label>Characteristics:</label>
            {{ prod_characteristics }}
        </div>
        <p style="display: none">
            <label for="product_upc">Product UPC:</label>
            {{ form.product_upc }}
        </p>
        <p style="display: none">
            <label for="id_product_id">Id product:</label>
            {{ form.id_product_id }}
        </p>
        {% if not promotional_product %}
            <div>
                <label for="selling_price">Selling price:</label>
            </div>
            {{ form.selling_price }}
            {% if form.errors.selling_price %}
                {% for error in form.selling_price.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
        {% else %}
            <div>
                <label for="selling_price">Selling price:</label>{{ selling_price }}
            </div>
        {% endif %}
        <label for="products_number">Products Number:</label>
        {{ form.products_number }}
        {% if form.errors.products_number %}
            {% for error in form.products_number.errors %}
                <p>{{ error }}</p>
            {% endfor %}
            {% endif %}
        {% if request.GET.submit == 'No' %}
        <p>Can't delete store product until you delete every sale connected</p>
        {% endif %}
        <button type="submit" class="button edit-btn">Edit</button>

    </form>
    <form method="POST" action="{% url 'store-product-details' pk=pk %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="delete">
        <button type="submit" class="button delete-btn">Delete</button>
    </form>
{% endblock %}