{% extends 'base.html' %}
{% load static %}

{% block title %}
    Add Store Product
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'store/forms.css' %}">
{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'store-product-add' %}">
        {% csrf_token %}
        <label for="product_upc">Product UPC:</label>
        {{ form.product_upc }}
        
        <label for="id_product_id">Id product:</label>
        {{ form.id_product_id }}
        
        <label for="selling_price">Selling price:</label>
        {{ form.selling_price }}
        {% if form.errors.selling_price %}
        {% for error in form.selling_price.errors %}
            <p>{{ error }}</p>
        {% endfor %}
        {% endif %}
    
        <label for="products_number">Products Number:</label>
        {{ form.products_number }}
         {% if form.errors.products_number %}
        {% for error in form.products_number.errors %}
            <p>{{ error }}</p>
        {% endfor %}
        {% endif %}
        
        <button type="submit" class="button">Add</button>
    </form>
{% endblock %}