{% extends 'base.html' %}
{% load static %}

{% block title %}
    Add Product
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'store/profile.css' %}">
{% endblock %}

{% block content %}


    {% csrf_token %}

    <div class="profile-container">
        <div class="profile-photo">
            <img src="{% static 'store/images/img.png' %}" alt="Profile Photo">
        </div>
        <div class="profile-info">
            <div>
                <label for="id_employee">Your Id:</label>
                <span>{{ employee.id }}</span>
            </div>
            <div>
                <label for="employee_surname">Your Fullname:</label>
                <span>{{ employee.employee_surname }} {{ employee.employee_name }} {{ employee.employee_patronymic }}</span>
            </div>
            <div>
                <label for="employee_role">Your Role:</label>
                <span>{{ employee.employee_role }}</span>
            </div>
            <div>
                <label for="employee_salary">Your Salary:</label>
                <span>{{ employee.employee_salary }}</span>
            </div>
            <div>
                <label for="employee_date_of_birth">Your Date of Birth:</label>
                <span>{{ employee.employee_date_of_birth }}</span>
            </div>
            <div>
                <label for="employee_date_of_start">Your Date of Start:</label>
                <span>{{ employee.employee_date_of_start }}</span>
            </div>
            <div>
                <label for="employee_phone_number">Your Phone Number:</label>
                <span>{{ employee.employee_phone_number }}</span>
            </div>
            <div>
                <label for="employee_city">Your City:</label>
                <span>{{ employee.employee_city }}</span>
            </div>
            <div>
                <label for="employee_street">Your Street:</label>
                <span>{{ employee.employee_street }}</span>
            </div>
            <div>
                <label for="employee_zip_code">Your Zip Code:</label>
                <span>{{ employee.employee_zip_code }}</span>
            </div>
        </div>
    </div>

    <!-- Logout Button -->
    <form action="{% url 'logout' %}" method="post" class="logout-form">
        {% csrf_token %}
        <button type="submit" class="button delete-btn" id="log-out">Log out</button>
    </form>
    <form action="{% url 'password-reset' %}" method="get" class="password-reset">
        {% csrf_token %}
        <button type="submit" class="button delete-btn" id="log-out">Reset password</button>
    </form>

{% endblock %}
