{% extends 'base.html' %}
{% load static %}

{% block title %}
    Add Product
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'store/forms.css' %}">
{% endblock %}

{% block content %}
        {% csrf_token %}
        <p for="id_employee">Your Id:</p>
        {{ employee.id }}
        <p for="employee_surname">Your Surname:</p>
        {{ employee.employee_surname }}

        <p for="employee_name">Your Name:</p>
        {{ employee.employee_name }}

        <p for="employee_patronymic">Your Patronymic:</p>
        {{ employee.employee_patronymic }}

        <p for="employee_role">Your Role:</p>
        {{ employee.employee_role }}

        <p for="employee_salary">Your Salary:</p>
        {{ employee.employee_salary }}

        <p for="employee_date_of_birth">Your Date of Birth:</p>
        {{ employee.employee_date_of_birth }}

        <p for="employee_date_of_start">Your Date of Start:</p>
        {{ employee.employee_date_of_start }}

        <p for="employee_phone_number">Your Phone Number:</p>
        {{ employee.employee_phone_number }}

        <p for="employee_city">Your City:</p>
        {{ employee.employee_city }}

        <p for="employee_street">Your Street:</p>
        {{ employee.employee_street }}

        <p for="employee_zip_code">Your Zip Code:</p>
        {{ employee.employee_zip_code }}
{% endblock %}