{% extends 'base.html' %}
{% load static %}

{% block title %}
    All Products
{% endblock %}

{% block css_files %}
    <style>
        @media print {
            section form, a {
                display: none !important;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <section id="all-products">
        <form method="GET" action="{% url 'product-list' %}">
            <label for="product_name">Product Name:</label>
            {{ form.product_name }}

            <label for="category_name">Category:</label>
            {{ form.category_name }}

            <button type="submit" class="button filter-btn">Filter</button>
        </form>
        {% if user.groups.first.name == "manager" %}
            <a href="{% url 'product-add' %}">
                <div class="button">
                    Add Product
                </div>
            </a>
        {% endif %}
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Characteristics</th>
                <th>Category Name</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr style="cursor:pointer;"
                    {% if user.groups.first.name == "manager" %}onclick="window.location='{% url 'product-detail' pk=product.0 %}'"{% endif %}>
                    <td>{{ product.0 }}</td>
                    <td>{{ product.1 }}</td>
                    <td>{{ product.2 }}</td>
                    <td>{{ product.3 }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No products found</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </section>
{% endblock %}
